<div class="skills-content">
    <ul>
        <li>
            <h3>Angular</h3>
            <ul>
                <li>Tipo: Framework</li>
                <li>Nivel: Junior</li>
                <li>Apps desarrolladas: 2</li>
            </ul>
        </li>
        <li>
            <h3>C#</h3>
            <ul>
                <li>Tipo: Lenguaje</li>
                <li>Nivel: Senior</li>
                <li>Años utilizándolo: 2</li>
            </ul>
        </li>
        <li>
            <h3>.Net</h3>
            <ul>
                <li>Tipo: Framework</li>
                <li>Versiones: Framework 4.7.2, .Net6</li>
                <li>Nivel: Senior</li>
            </ul>
        </li>
        <li>
            <h3>AngularJS</h3>
            <ul>
                <li>Tipo: Framework</li>
                <li>Nivel: Junior</li>
                <li>Versiones: 1.6.2, 1.8.0</li>
            </ul>
        </li>
        <li>
            <h3>Angular</h3>
            <ul>
                <li>Tipo: Framework</li>
                <li>Nivel: Junior</li>
                <li>Apps desarrolladas: 2</li>
            </ul>
        </li>
    </ul>
</div>
