.app-content {
    display: flex;
    height: calc(100% - 7px);
    padding: 5px 2px 2px;
    width: calc(100% - 4px);
}

.left-side {
    align-content: center;
    width: 30%;
}

.main-title {
    color: #080808;
    font-weight: 300;
    font-size: 40px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.main-title h1 {
    font-size: 50px;
}

.main-title h1:before {
    width: 30px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}

.main-title h1:after {
    width: 200px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 20px;
    left: 50%;
    margin-left: -100px;
    background-color: #b80000;
}

.content{
    align-content: center;
    flex-grow: 1;
}