:host {
    --app-background: #ffffff;
    --nav-decoration: #1f2833;
    --highlights: #d9042950;

    font-size: 17px;
}

.main-title-container::after {
    background: linear-gradient(var(--app-background), #bf2020, var(--app-background));
    /* background-color: #d40000; */
    content: "";
    display: block;
    height: 3px;
    margin: 0px 5px 10px;
    position: relative;
}

.main-title {
    color: #080808;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    justify-content: space-around;
    font-size: 40px;
    margin-top: 10px;
    width: 100%;
}

.main-title>h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

nav {
    /* width: 100%; */
    flex: 1;
}

nav::before {
    filter: blur(2px);
}

nav>ul {
    margin: 10px 50px;
    display: flex;
    justify-content: end;
    list-style: none;
}

nav>ul>li {
    font-size: 22px;
    margin: 0 10px;
    padding-bottom: 3px;
}

nav>ul>li.available:hover {
    padding: 0;
}

nav>ul>li.available:hover::after {
    background-color: var(--highlights);
    content: '';
    display: block;
    height: 2px;
    margin: 0;
    width: 100%;
}

nav>ul>li>a {
    text-decoration: none;
    overflow-y: hidden;
}

nav>ul>li>a {
    color: var(--nav-decoration);
    text-decoration: none;
}

/* .selected-section::after {
    background-color: var(--highlights);
    content: '';
    display: block;
    height: 2px;
    margin: 0;
    width: 100%;
} */

.app-content {
    background-color: var(--app-background);
    display: flex;
    flex-direction: column;
    height: calc(100% - 7px);
    padding: 5px 2px 2px;
    width: calc(100% - 4px);
}

.app-content>.content {
    align-content: center;
    flex-grow: 1;
    height: 100px;
    padding: 0 5px 5px;
    margin-right: 5px;
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100%;
}

footer a {
    color: var(--nav-decoration);
    margin: 0 5px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .app-content {
        flex-direction: column;
    }

    .main-section {
        margin-top: 5px;
        width: 100%;
    }

    .main-title>h1 {
        font-size: 30px;
    }

    .app-content>.content {
        align-content: start;
        background-color: #c5c6c730;
        margin: 0;
    }

    nav {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    nav>ul {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0;
        padding: 0;
        width: 100%;
    }
}