<div class="app-content">

  <div class="main-title">
    <h1>Carlos Iglesias</h1>
  </div>

  <nav>
    <ul style="display: flex; justify-content: end; list-style: none;">
      <li><a routerLink="/welcome">Home</a></li>
      <li><a routerLink="/projects">Projects</a> </li>
      <li><a routerLink="/skills">Skills</a></li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div id="social-media">
      <a href="https://github.com/carlosiglesias1" target="_blank"><ng-icon name="bootstrapGithub"
          [size]="socialMediaSize"></ng-icon></a>
      <a href="https://www.instagram.com/_carlosiglesias1/" target="_blank"><ng-icon name="bootstrapInstagram"
          [size]="socialMediaSize"></ng-icon></a>
      <a href="https://www.linkedin.com/in/carlos-iglesias-gomez/" target="_blank"><ng-icon name="bootstrapLinkedin"
          [size]="socialMediaSize"></ng-icon></a>
    </div>
  </footer>
</div>