:host {
    --app-background: #c5c6c7;
    --nav-decoration: #1f2833;
    --highlights: #66fcf1;
}

nav {
    width: 100%;
}

nav::before {
    filter: blur(2px);
}

nav>ul {
    margin: 10px 50px;
}

nav>ul>li {
    font-size: large;
    margin: 0 10px;
    padding-bottom: 3px;
}

nav>ul>li:hover {
    padding: 0;
}

nav>ul>li:hover::after {
    background-color: aqua;
    content: '';
    display: block;
    height: 3px;
    margin: 0;
    width: 100%;
}

nav>ul>li>a {
    text-decoration: none;
}

.app-content {
    height: calc(100% - 7px);
    padding: 5px 2px 2px;
    width: calc(100% - 4px);
    background-color: var(--app-background);
}

.main-section {
    align-content: center;
    width: 30%;
}

.content {
    align-content: center;
    flex-grow: 1;
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

footer a {
    margin: 0 2px;
}

@media screen and (max-width: 500px) {
    .app-content {
        flex-direction: column;
    }

    .main-section {
        margin-top: 5px;
        width: 100%;
    }

    .content {
        align-content: start;
        background-color: #c5c6c730;
        flex-grow: 1;
    }
}

.main-title {
    color: #080808;
    font-weight: 300;
    font-size: 40px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.main-title h1 {
    font-size: 50px;
}

.main-title h1:before {
    width: 30px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}

.main-title h1::after {
    width: 200px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 20px;
    left: 50%;
    margin-left: -100px;
    background-color: #b80000;
}

/**
 * color palette: {
 *      borders: 0b0c10 (strong black)
 *      ¿background?: 1f2833 (lighter black)
 *      background: c5c6c7
 *      hihglights: 66fcf1
 *      titles: 45A29E
 *   }
 */