app-projects {
    height: 100%;
}

.card-container {
    --grid-max-column-count: 2;
    --grid-min-column-size: 700px;
    --grid-gap: 1rem;

    /* grid column size calculations */
    /* do not touch!!*/
    --grid-column-size: max(var(--grid-min-column-size), calc((100%  - var(--grid-gap) * var(--grid-max-column-count)) / var(--grid-max-column-count)));
    --grid-min-column-size-calc: min(var(--grid-column-size), 100%);

    /* calculation end */

    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit,
            minmax(var(--grid-min-column-size-calc), 1fr));

    grid-auto-rows: 300px;
    grid-auto-columns: minmax(700px, 1fr);
    grid-auto-flow: row;
    max-height: 100%;
    overflow-y: auto;
    vertical-align: middle;
}

@media screen and (max-width : 500px) {
    /* :host {
        overflow-y: scroll;
    } */
}