<div class="main-section">
  
  <div class="left-content">
    <h2>Si se puede soñar se puede programar</h2>
  </div>

  <div class="right-content">
    <div id="hours-programming" class="kpi-box">
      {{'return (new Date() - new Date("01-01-2018 00:00:00Z"))'}}
      <h3 id="hours-counter" class="number-display" [innerHTML]="hoursProgramming" [ngStyle]="{width: hoursWidth}"></h3>
      HORAS PROGRAMANDO
    </div>
  
    <div id="code-lines-wrote" class="kpi-box">
      git ls-files | grep '\.js' | xargs wc -l
      <h3 id="lines-wroten" class="number-display" [innerHTML]="linesOfCode.html" [ngStyle]="{width: linesOfCode.width}"></h3>
      LÍNEAS DE CÓDIGO
    </div>
  </div>  
</div>