strong {
    font-weight: 500;
}

.main-section {
    display: flex;
    height: 100%;
}

.photo-section {
    margin: 0 5px;
    max-height: 100%;
    width: 100%;
}

.photo-section>img {
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    .main-section{
        position: relative;
    }

    .text-section {
        background-color: #f0f8ff90;
        z-index: 10;
    }

    .photo-section {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 0;
        max-width: 100%;
        position: absolute;
    }
}