<div class="main-section">

  <div class="left-content">
    <div class="picture-section">
      <img alt="Profile photo" draggable="false" [src]="imageBlob" />
    </div>
    <h2>"Si lo puedes soñar<br />se puede programar"</h2>
  </div>

  <div class="right-content">
    <div id="hours-programming" class="kpi-box">

      <div class="hours-carousell">
        <h3 id="hours-counter" class="number-display" [innerHTML]="hoursProgramming" [ngStyle]="{width: hoursWidth}">
        </h3>
      </div>

      <div class="subtitle">AÑOS DE EXPERIENCIA</div>
    </div>

    <div id="code-lines-wrote" class="kpi-box">

      <div class="my-stack-icons"
        style="display: grid; height: 3rem; max-width: 100%; width: fit-content; grid-template-columns: repeat(4, 1fr); column-gap: 2px; margin: 0 5px;">
        @let iconSize = '100%';

        <ng-icon name="bootstrapGit" [size]="iconSize" color="#F1502F"></ng-icon>

        <ng-icon [svg]="angularIcon" [size]="iconSize"></ng-icon>

        <ng-icon [svg]="siemensIcon" [size]="iconSize"></ng-icon>

        <ng-icon name="svglCsharp" [size]="iconSize"></ng-icon>
      </div>

      <div class="subtitle">MI STACK ACTUAL</div>
    </div>

    <div id="currently-working-on" class="kpi-box" style="grid-column: 1 / span 2;">
      MI STACK COMPLETO
      <div>
        <canvas baseChart [data]="currentlyWorkingOnChart.data" [options]="currentlyWorkingOnChart.options"
          [type]="'polarArea'"></canvas>
      </div>
    </div>

    <div id="social-media" class="kpi-box">
      <div>CONTÁCTAME</div>
      <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 100%; column-gap: 3px; flex: 1; height: 25px; width: fit-content;">
        @let contactIconSize = '100%';

        <a href="https://github.com/carlosiglesias1" target="_blank">
          <ng-icon name="bootstrapGithub" color="#1f2833" [size]="contactIconSize"></ng-icon>
        </a>
        <div (click)="copyEmail()" style="cursor: pointer;">
          <ng-icon [svg]="gmailIcon" [size]="contactIconSize"></ng-icon>
        </div>
        <a href="https://www.linkedin.com/in/carlos-iglesias-gomez/" target="_blank">
          <ng-icon name="bootstrapLinkedin" color="#0766c2" [size]="contactIconSize"></ng-icon>
        </a>
      </div>
    </div>
  </div>
</div>