strong {
    font-weight: 500;
}

.main-section {
    display: grid;
    gap: 1px;
    grid-template-columns: 35% 65%;
    height: 100%;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content>.picture-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.left-content>.picture-section>img {
    border-radius: 50%;
    user-select: none;
}

.left-content h2 {
    align-items: center;
    font-family: Montserrat, sans-serif !important;
    font-size: 2.5rem !important;
    font-style: italic;
    font-weight: 100;
    height: auto;
    text-align: center;
}

.right-content {
    padding: 0 3px 9px 0;
    /* padding-right: 3px; */
    margin-top: 0px;
    overflow: hidden auto;
}

.right-content>div {
    height: calc(100% - 2px);
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 70% 10%;
}

.kpi-box {
    --box-border-radius: 2em;

    align-items: center;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    border: 1px #0f0f0f30 solid;
    border-radius: var(--box-border-radius);
    color: #ef233c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.1em 0;
    padding: 5px;
    position: relative;
}

.kpi-box h3#hours-counter {
    font-size: 48px;
}

.kpi-box>.subtitle {
    bottom: 3px;
    max-width: calc(100% - 30px);
    margin: 0 5px;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.number-display {
    position: relative;
    display: flex;
    width: 0;
    overflow: hidden;
    height: 48px;
    transition: width 1.8s ease;
}

.number-holder {
    display: flex;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    flex-shrink: 2;
    flex-basis: 48px;

    font-family: Montserrat, sans-serif !important;
    font-weight: 600;

    width: 1px;

    position: absolute;
    right: 0;

    line-height: 48px;
    transition: all 2s ease;
    user-select: none;
}

.number-display>.number-holder.visible {
    position: static;
    width: 30px;
    opacity: 1;
    flex-shrink: 1;
}

.picture-section img {
    height: 265px;
    width: 200px;
}

#currently-working-on>div {
    height: 100%;
    width: 100%;
}

#siemens-environment .reading-block {
    transform: translateY(75px) !important;
}

#siemens-environment .reading-label {
    color: rgba(0, 150, 136, 1);
}

#dotnet .reading-block {
    /* transform: translateY(75px) !important; */
    transform: translate(25px, 70px) !important;
}

#dotnet .reading-label {
    color: #1384C8;
}

#social-media {
    /* bottom: 0; */
    display: flex;
    justify-content: center;
    min-height: fit-content;
    /* position: sticky; */
}

#social-media>div>a {
    color: var(--nav-decoration);
    margin: 0 5px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .main-section {
        display: block;
        overflow-y: auto;
    }

    .left-content {
        align-items: center;
        flex-direction: row;
        max-width: 100%;
    }

    .left-content>h2 {
        font-size: 1.5rem !important;
    }

    .picture-section img {
        height: 132px;
        width: 100px;
    }

    h3.number-display {
        margin-bottom: 0px !important;
    }

    .right-content {
        grid-template-rows: auto auto auto;
        overflow-y: auto;
        padding-right: 5px;
    }

    .right-content .kpi-box>span {
        display: none;
    }

    .right-content #hours-counter {
        column-span: 1 / span 2;
    }

    #social-media {
        grid-row: 3 / -1;
    }
}