strong {
    font-weight: 500;
}

h2 {
    align-items: center;
    font-family: Montserrat, sans-serif !important;
    font-size: 2.5rem !important;
    height: auto;
    text-align: center;
}

.main-section {
    display: grid;
    gap: 1px;
    grid-template-columns: 35% 65%;
    height: 100%;
    /* align-items: center; */
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content>.picture-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.left-content>.picture-section>img {
    border-radius: 50%;
    user-select: none;
}

.right-content {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    margin-top: 25px;
}

.kpi-box {
    align-items: center;
    background-color: #edf2f4;
    border-radius: 5px;
    color: #ef233c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.1em 0;
    /* max-width: 480px; */
    height: 150px;
    padding: 5px;
    position: relative;
}

.kpi-box>h3 {
    font-size: 48px;
}

span {
    display: block;
    width: 100%;
    text-align: right;
}

.number-display {
    position: relative;
    display: flex;
    width: 0;
    overflow: hidden;
    height: 48px;
    transition: width 1.8s ease;
}

.number-holder {
    display: flex;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    flex-shrink: 2;
    flex-basis: 48px;

    font-family: Montserrat, sans-serif !important;
    font-weight: 600;

    width: 1px;

    position: absolute;
    right: 0;

    line-height: 48px;
    transition: all 2s ease;
    user-select: none;
}

.number-display>.number-holder.visible {
    position: static;
    width: 30px;
    opacity: 1;
    flex-shrink: 1;
}

#siemens-environment .reading-block {
    transform: translateY(75px) !important;
}

#siemens-environment .reading-label {
    color: rgba(0, 150, 136, 1);
}

#dotnet .reading-block {
    /* transform: translateY(75px) !important; */
    transform: translate(25px, 70px) !important;
}

#dotnet .reading-label {
    color: #1384C8;
}

#social-media {
    bottom: 0;
    display: flex;
    justify-content: center;
    position: sticky;
}

#social-media>div>a {
    color: var(--nav-decoration);
    margin: 0 5px;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .main-section {
        display: block;
    }

    .left-content{        
        max-width: 100%;
    }
}