.cig-card {
    /* border: 1px #0f0f0f30 solid; */
    border-radius: 2em;
    box-shadow:
        inset -2px 2px hsl(0 0 100% / 1),
        -20px 20px 40px hsl(0 0 0 / .25);
    /* box-shadow: 0px 0px 2px 2px #0f0f0f30; */
    display: grid;
    padding: 2.5rem;
    position: relative;
    --grad: #e0e4e5, red;
    padding: 2.5rem;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    /* border-radius: 2rem; */
    gap: 1.5rem;
    /* display: grid; */
    grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
    font-family: system-ui, sans-serif;
    color: #444447;
    box-shadow:
        inset -2px 2px hsl(0 0 100% / 1),
        -20px 20px 40px hsl(0 0 0 / .25);
}

.cig-card-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1px;
    width: 100%;
}

.cig-card-image>img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    width: 400px;
}

.cig-card-icon {
    grid-area: icon;
}

.cig-card-title {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
}

.cig-card-title>h2 {
    color: #444447;
    margin: 0;
}

.cig-card-content {
    grid-area: content;
}

.cig-card-content>*:first-child {
    margin-top: 0
}

.cig-card-content>*:last-child {
    margin-bottom: 0
}

.cig-card::after {
    content: '';
    grid-area: bar;
    height: 2px;
    background-image: linear-gradient(90deg, var(--grad));
}

@media screen and (max-width : 500px) {
    .cig-card-image {
        margin-top: 0;
    }
}